/* mobile phone */
@media all and (max-width: 768px) {
    .accordion-container {
        padding: var(--spacing-medium);
    }

    .accordion-container .accordion-header {
        font-size: var(--font-large);
    }
    
    .accordion-container .chev {
        font-size: var(--font-x-large);
    }

    .accordion-container .title {
       max-width: 70%;
    }
    

    .accordion-container .accordion-header .badge {
        width: 60px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: var(--spacing-medium);
    }
}